openapi: 3.0.3
info:
  title: CAB System API
  description: |
    API RESTful cho nền tảng đặt xe CAB System.
    
    Hệ thống hỗ trợ 3 nhóm người dùng chính:
    - **Customer**: Đặt xe, theo dõi chuyến, thanh toán, đánh giá
    - **Driver**: Nhận chuyến, cập nhật trạng thái, vị trí
    - **Operator/Admin**: Quản lý người dùng, chuyến đi, báo cáo
    
    **Tính năng chính:**
    - Đăng ký / Đăng nhập (JWT)
    - Tạo và theo dõi chuyến đi real-time
    - Matching tài xế thông minh
    - Thanh toán (tiền mặt + điện tử)
    - Thông báo đa kênh
    - Báo cáo vận hành
    
    **Lưu ý bảo mật:**
    - Không lưu thông tin thẻ / tài khoản thanh toán nhạy cảm
    - Tất cả endpoint yêu cầu xác thực (trừ register/login)
    - Phân quyền RBAC cho Admin
  version: 1.0.0
  contact:
    name: CAB System API Support
    email: api-support@cab-system.vn
  license:
    name: Proprietary

servers:
  - url: https://api.cab-system.vn/v1
    description: Production server
  - url: https://staging-api.cab-system.vn/v1
    description: Staging server
  - url: http://localhost:3000/v1
    description: Local development

tags:
  - name: Auth
    description: Đăng ký, đăng nhập, refresh token
  - name: Customers
    description: Quản lý hồ sơ và lịch sử khách hàng
  - name: Drivers
    description: Quản lý hồ sơ, trạng thái, vị trí tài xế
  - name: Trips
    description: Tạo, theo dõi, hủy, đánh giá chuyến đi
  - name: Payments
    description: Tính cước và thanh toán
  - name: Notifications
    description: Quản lý thông báo (nội bộ)
  - name: Admin
    description: API quản trị dành cho nhân viên vận hành

paths:
  # ==================== AUTH ====================
  /auth/register/customer:
    post:
      tags: [Auth]
      summary: Đăng ký tài khoản khách hàng
      operationId: registerCustomer
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerRegisterRequest'
      responses:
        '201':
          description: Đăng ký thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Số điện thoại đã tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/register/driver:
    post:
      tags: [Auth]
      summary: Tài xế tự đăng ký tài khoản
      operationId: registerDriver
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverRegisterRequest'
      responses:
        '201':
          description: Đăng ký thành công (có thể cần phê duyệt)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '409':
          description: Số điện thoại hoặc biển số đã tồn tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/login:
    post:
      tags: [Auth]
      summary: Đăng nhập
      operationId: login
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginRequest'
      responses:
        '200':
          description: Đăng nhập thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Sai thông tin đăng nhập
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /auth/refresh:
    post:
      tags: [Auth]
      summary: Làm mới access token
      operationId: refreshToken
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [refresh_token]
              properties:
                refresh_token:
                  type: string
      responses:
        '200':
          description: Token mới
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /auth/logout:
    post:
      tags: [Auth]
      summary: Đăng xuất (revoke refresh token)
      operationId: logout
      security:
        - BearerAuth: []
      responses:
        '204':
          description: Đăng xuất thành công

  # ==================== CUSTOMERS ====================
  /customers/me:
    get:
      tags: [Customers]
      summary: Lấy thông tin hồ sơ khách hàng hiện tại
      operationId: getCurrentCustomer
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Thông tin khách hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Customers]
      summary: Cập nhật hồ sơ khách hàng
      operationId: updateCurrentCustomer
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerUpdateRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /customers/me/trips:
    get:
      tags: [Customers]
      summary: Lịch sử chuyến đi của khách hàng
      operationId: getCustomerTrips
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/TripStatus'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: Danh sách chuyến đi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # ==================== DRIVERS ====================
  /drivers/me:
    get:
      tags: [Drivers]
      summary: Lấy thông tin hồ sơ tài xế hiện tại
      operationId: getCurrentDriver
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Thông tin tài xế
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
    put:
      tags: [Drivers]
      summary: Cập nhật hồ sơ tài xế
      operationId: updateCurrentDriver
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverUpdateRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /drivers/me/vehicle:
    put:
      tags: [Drivers]
      summary: Cập nhật thông tin phương tiện
      operationId: updateDriverVehicle
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VehicleUpdateRequest'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Vehicle'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /drivers/me/status:
    put:
      tags: [Drivers]
      summary: Cập nhật trạng thái hoạt động (online/offline/busy)
      operationId: updateDriverStatus
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  $ref: '#/components/schemas/DriverStatus'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    $ref: '#/components/schemas/DriverStatus'
                  updated_at:
                    type: string
                    format: date-time
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /drivers/me/location:
    put:
      tags: [Drivers]
      summary: Cập nhật vị trí real-time của tài xế
      description: |
        Endpoint này được gọi với tần suất cao (mỗi 3-10 giây khi online).
        Nên sử dụng WebSocket nếu có thể để giảm overhead.
      operationId: updateDriverLocation
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LocationUpdate'
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                type: object
                properties:
                  accepted:
                    type: boolean
                    example: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /drivers/me/trips/{trip_id}/accept:
    post:
      tags: [Drivers]
      summary: Tài xế chấp nhận chuyến
      operationId: acceptTrip
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      responses:
        '200':
          description: Chấp nhận thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetail'
        '400':
          description: Chuyến đã được nhận bởi tài xế khác hoặc hết hạn
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /drivers/me/trips/{trip_id}/reject:
    post:
      tags: [Drivers]
      summary: Tài xế từ chối chuyến
      operationId: rejectTrip
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: string
                  example: too_far
      responses:
        '200':
          description: Từ chối thành công, hệ thống sẽ tìm tài xế khác
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Trip rejected. System will find another driver.
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /drivers/me/trips/{trip_id}/status:
    put:
      tags: [Drivers]
      summary: Cập nhật trạng thái chuyến đi (tài xế)
      operationId: updateTripStatusByDriver
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum:
                    - driver_arrived
                    - passenger_picked_up
                    - in_progress
                    - completed
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Không phải tài xế của chuyến này
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== TRIPS ====================
  /trips:
    post:
      tags: [Trips]
      summary: Tạo yêu cầu đặt xe
      description: |
        Sau khi tạo thành công, hệ thống sẽ tự động tìm tài xế phù hợp.
        Trạng thái ban đầu: `searching_driver`
      operationId: createTrip
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateTripRequest'
      responses:
        '201':
          description: Tạo chuyến thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '422':
          description: Không thể tính cước ước tính hoặc dữ liệu không hợp lệ
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /trips/{trip_id}:
    get:
      tags: [Trips]
      summary: Lấy chi tiết chuyến đi
      operationId: getTrip
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      responses:
        '200':
          description: Chi tiết chuyến đi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          description: Không có quyền xem chuyến này
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips/{trip_id}/tracking:
    get:
      tags: [Trips]
      summary: Theo dõi vị trí và trạng thái real-time (polling fallback)
      description: |
        Nên sử dụng WebSocket `/ws/trips/{trip_id}` thay vì polling khi có thể.
      operationId: trackTrip
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      responses:
        '200':
          description: Thông tin tracking
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripTracking'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips/{trip_id}/cancel:
    post:
      tags: [Trips]
      summary: Hủy chuyến đi
      operationId: cancelTrip
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelTripRequest'
      responses:
        '200':
          description: Hủy thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetail'
        '400':
          description: Không thể hủy ở trạng thái hiện tại
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips/{trip_id}/rating:
    post:
      tags: [Trips]
      summary: Đánh giá tài xế sau khi hoàn thành chuyến
      operationId: rateTrip
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RatingRequest'
      responses:
        '201':
          description: Đánh giá thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Rating'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          description: Đã đánh giá rồi hoặc chuyến chưa hoàn thành
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  # ==================== PAYMENTS ====================
  /trips/{trip_id}/calculate-fare:
    post:
      tags: [Payments]
      summary: Tính cước cuối cùng sau khi hoàn thành chuyến
      description: Thường được gọi tự động khi tài xế cập nhật status = completed
      operationId: calculateFare
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      responses:
        '200':
          description: Kết quả tính cước
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FareBreakdown'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /trips/{trip_id}/payments:
    post:
      tags: [Payments]
      summary: Khởi tạo thanh toán điện tử
      description: |
        Hệ thống không lưu thông tin thẻ. Chỉ tạo payment intent với nhà cung cấp bên ngoài.
      operationId: createPayment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreatePaymentRequest'
      responses:
        '201':
          description: Tạo payment intent thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PaymentIntent'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Thanh toán thất bại từ nhà cung cấp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /trips/{trip_id}/payments/cash-confirm:
    post:
      tags: [Payments]
      summary: Xác nhận đã nhận tiền mặt (tài xế hoặc hệ thống)
      operationId: confirmCashPayment
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      responses:
        '200':
          description: Xác nhận thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  /payments/{payment_id}:
    get:
      tags: [Payments]
      summary: Lấy thông tin giao dịch thanh toán
      operationId: getPayment
      security:
        - BearerAuth: []
      parameters:
        - name: payment_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Thông tin thanh toán
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Payment'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'

  # ==================== ADMIN ====================
  /admin/customers:
    get:
      tags: [Admin]
      summary: Danh sách khách hàng (phân trang)
      operationId: listCustomers
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          schema:
            type: string
            description: Tìm theo tên hoặc số điện thoại
        - name: status
          in: query
          schema:
            type: string
            enum: [active, blocked]
      responses:
        '200':
          description: Danh sách khách hàng
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomerListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/drivers:
    get:
      tags: [Admin]
      summary: Danh sách tài xế
      operationId: listDrivers
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: search
          in: query
          schema:
            type: string
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/DriverStatus'
        - name: vehicle_type
          in: query
          schema:
            $ref: '#/components/schemas/VehicleType'
      responses:
        '200':
          description: Danh sách tài xế
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
    post:
      tags: [Admin]
      summary: Nhân viên vận hành tạo tài khoản tài xế
      operationId: createDriverByAdmin
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DriverRegisterRequest'
      responses:
        '201':
          description: Tạo thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfile'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/drivers/{driver_id}:
    get:
      tags: [Admin]
      summary: Chi tiết tài xế
      operationId: getDriverByAdmin
      security:
        - BearerAuth: []
      parameters:
        - name: driver_id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Chi tiết tài xế
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/drivers/{driver_id}/status:
    put:
      tags: [Admin]
      summary: Khóa / Mở khóa / Cập nhật trạng thái tài xế
      operationId: updateDriverStatusByAdmin
      security:
        - BearerAuth: []
      parameters:
        - name: driver_id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [status]
              properties:
                status:
                  type: string
                  enum: [active, blocked, offline, online]
                reason:
                  type: string
      responses:
        '200':
          description: Cập nhật thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DriverProfile'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/trips:
    get:
      tags: [Admin]
      summary: Danh sách chuyến đi (hỗ trợ lọc)
      operationId: listTrips
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
        - name: status
          in: query
          schema:
            $ref: '#/components/schemas/TripStatus'
        - name: from
          in: query
          schema:
            type: string
            format: date-time
        - name: to
          in: query
          schema:
            type: string
            format: date-time
        - name: customer_id
          in: query
          schema:
            type: string
        - name: driver_id
          in: query
          schema:
            type: string
      responses:
        '200':
          description: Danh sách chuyến đi
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/trips/{trip_id}:
    get:
      tags: [Admin]
      summary: Chi tiết chuyến đi (Admin)
      operationId: getTripByAdmin
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      responses:
        '200':
          description: Chi tiết chuyến
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetail'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/trips/{trip_id}/intervene:
    post:
      tags: [Admin]
      summary: Can thiệp xử lý sự cố chuyến đi
      operationId: interveneTrip
      security:
        - BearerAuth: []
      parameters:
        - $ref: '#/components/parameters/TripIdParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [action]
              properties:
                action:
                  type: string
                  enum: [force_cancel, reassign_driver, force_complete, add_note]
                note:
                  type: string
                new_driver_id:
                  type: string
                  description: Bắt buộc nếu action = reassign_driver
      responses:
        '200':
          description: Can thiệp thành công
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TripDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'

  /admin/reports/summary:
    get:
      tags: [Admin]
      summary: Báo cáo tổng hợp hoạt động
      operationId: getSummaryReport
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
      responses:
        '200':
          description: Báo cáo tổng hợp
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SummaryReport'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  /admin/reports/drivers-performance:
    get:
      tags: [Admin]
      summary: Báo cáo hiệu quả tài xế
      operationId: getDriversPerformance
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          schema:
            type: string
            format: date
        - name: to
          in: query
          required: true
          schema:
            type: string
            format: date
        - $ref: '#/components/parameters/PageParam'
        - $ref: '#/components/parameters/LimitParam'
      responses:
        '200':
          description: Báo cáo hiệu quả tài xế
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: '#/components/schemas/DriverPerformance'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'

  # ==================== INTERNAL / NOTIFICATIONS ====================
  /internal/notifications:
    post:
      tags: [Notifications]
      summary: Gửi thông báo (Internal - chỉ service-to-service)
      description: Endpoint nội bộ, yêu cầu service token
      operationId: sendNotification
      security:
        - ServiceAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendNotificationRequest'
      responses:
        '202':
          description: Đã nhận yêu cầu gửi thông báo
          content:
            application/json:
              schema:
                type: object
                properties:
                  notification_id:
                    type: string
                  status:
                    type: string
                    example: queued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT Access Token
    ServiceAuth:
      type: apiKey
      in: header
      name: X-Service-Token
      description: Token nội bộ giữa các service

  parameters:
    TripIdParam:
      name: trip_id
      in: path
      required: true
      schema:
        type: string
        example: trip_xyz789
    PageParam:
      name: page
      in: query
      schema:
        type: integer
        minimum: 1
        default: 1
    LimitParam:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20

  responses:
    BadRequest:
      description: Dữ liệu không hợp lệ
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Chưa xác thực hoặc token hết hạn
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Forbidden:
      description: Không có quyền truy cập
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    NotFound:
      description: Không tìm thấy tài nguyên
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    # ---------- Common ----------
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: object
          properties:
            code:
              type: string
              example: VALIDATION_ERROR
            message:
              type: string
              example: Dữ liệu không hợp lệ
            details:
              type: object
              additionalProperties: true
        timestamp:
          type: string
          format: date-time
        request_id:
          type: string

    Pagination:
      type: object
      properties:
        page:
          type: integer
        limit:
          type: integer
        total_items:
          type: integer
        total_pages:
          type: integer

    # ---------- Auth ----------
    CustomerRegisterRequest:
      type: object
      required: [phone, password, full_name]
      properties:
        phone:
          type: string
          pattern: '^[0-9]{10,11}$'
          example: "0901234567"
        password:
          type: string
          minLength: 8
          example: "SecurePass123!"
        full_name:
          type: string
          example: "Nguyễn Văn A"
        email:
          type: string
          format: email
        device_id:
          type: string

    DriverRegisterRequest:
      type: object
      required: [phone, password, full_name, license_number, vehicle]
      properties:
        phone:
          type: string
          pattern: '^[0-9]{10,11}$'
        password:
          type: string
          minLength: 8
        full_name:
          type: string
        license_number:
          type: string
          example: "B2-123456"
        email:
          type: string
          format: email
        vehicle:
          $ref: '#/components/schemas/VehicleCreate'

    LoginRequest:
      type: object
      required: [phone, password, role]
      properties:
        phone:
          type: string
        password:
          type: string
        role:
          type: string
          enum: [customer, driver, operator]

    AuthResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            user_id:
              type: string
            role:
              type: string
            access_token:
              type: string
            refresh_token:
              type: string
            expires_in:
              type: integer
              example: 3600
            token_type:
              type: string
              example: Bearer

    # ---------- Customer ----------
    CustomerProfile:
      type: object
      properties:
        user_id:
          type: string
        phone:
          type: string
        full_name:
          type: string
        email:
          type: string
        avatar_url:
          type: string
        status:
          type: string
          enum: [active, blocked]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    CustomerUpdateRequest:
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
          format: email
        avatar_url:
          type: string

    CustomerListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/CustomerProfile'
        pagination:
          $ref: '#/components/schemas/Pagination'

    # ---------- Driver ----------
    DriverStatus:
      type: string
      enum: [online, offline, busy, blocked]

    DriverProfile:
      type: object
      properties:
        driver_id:
          type: string
        phone:
          type: string
        full_name:
          type: string
        email:
          type: string
        license_number:
          type: string
        status:
          $ref: '#/components/schemas/DriverStatus'
        rating:
          type: number
          format: float
          example: 4.85
        total_trips:
          type: integer
        vehicle:
          $ref: '#/components/schemas/Vehicle'
        current_location:
          $ref: '#/components/schemas/Location'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    DriverUpdateRequest:
      type: object
      properties:
        full_name:
          type: string
        email:
          type: string
          format: email
        license_number:
          type: string

    DriverListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/DriverProfile'
        pagination:
          $ref: '#/components/schemas/Pagination'

    DriverPerformance:
      type: object
      properties:
        driver_id:
          type: string
        full_name:
          type: string
        total_trips:
          type: integer
        completed_trips:
          type: integer
        cancelled_trips:
          type: integer
        completion_rate:
          type: number
        avg_rating:
          type: number
        total_revenue:
          type: number

    # ---------- Vehicle ----------
    VehicleType:
      type: string
      enum: [motorbike, car_4_seat, car_7_seat]

    VehicleCreate:
      type: object
      required: [type, plate_number, brand, color]
      properties:
        type:
          $ref: '#/components/schemas/VehicleType'
        plate_number:
          type: string
          example: "51A-12345"
        brand:
          type: string
          example: "Toyota Vios"
        color:
          type: string
          example: "Trắng"
        year:
          type: integer

    VehicleUpdateRequest:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/VehicleType'
        plate_number:
          type: string
        brand:
          type: string
        color:
          type: string
        year:
          type: integer

    Vehicle:
      type: object
      properties:
        type:
          $ref: '#/components/schemas/VehicleType'
        plate_number:
          type: string
        brand:
          type: string
        color:
          type: string
        year:
          type: integer

    # ---------- Location ----------
    Location:
      type: object
      properties:
        latitude:
          type: number
          format: double
          example: 10.7769
        longitude:
          type: number
          format: double
          example: 106.7009
        address:
          type: string

    LocationUpdate:
      type: object
      required: [latitude, longitude]
      properties:
        latitude:
          type: number
          format: double
        longitude:
          type: number
          format: double
        heading:
          type: number
          description: Hướng di chuyển (độ)
        speed:
          type: number
          description: Tốc độ (km/h)
        accuracy:
          type: number
          description: Độ chính xác (mét)

    # ---------- Trip ----------
    TripStatus:
      type: string
      enum:
        - searching_driver
        - driver_assigned
        - driver_arrived
        - passenger_picked_up
        - in_progress
        - completed
        - cancelled
        - no_driver_found

    CreateTripRequest:
      type: object
      required: [pickup, dropoff, vehicle_type, payment_method]
      properties:
        pickup:
          $ref: '#/components/schemas/Location'
        dropoff:
          $ref: '#/components/schemas/Location'
        vehicle_type:
          $ref: '#/components/schemas/VehicleType'
        payment_method:
          type: string
          enum: [cash, electronic]
        note:
          type: string
          maxLength: 500

    CancelTripRequest:
      type: object
      required: [reason]
      properties:
        reason:
          type: string
          enum:
            - customer_changed_mind
            - driver_too_far
            - long_wait
            - wrong_location
            - other
        note:
          type: string

    TripDetail:
      type: object
      properties:
        trip_id:
          type: string
        status:
          $ref: '#/components/schemas/TripStatus'
        customer:
          type: object
          properties:
            user_id:
              type: string
            full_name:
              type: string
            phone:
              type: string
        driver:
          type: object
          nullable: true
          properties:
            driver_id:
              type: string
            full_name:
              type: string
            phone:
              type: string
            rating:
              type: number
            vehicle:
              $ref: '#/components/schemas/Vehicle'
            current_location:
              $ref: '#/components/schemas/Location'
        pickup:
          $ref: '#/components/schemas/Location'
        dropoff:
          $ref: '#/components/schemas/Location'
        vehicle_type:
          $ref: '#/components/schemas/VehicleType'
        payment_method:
          type: string
        estimated_fare:
          type: number
        final_fare:
          type: number
          nullable: true
        estimated_arrival_time:
          type: string
          format: date-time
          nullable: true
        distance_km:
          type: number
        duration_minutes:
          type: number
        note:
          type: string
        timeline:
          type: array
          items:
            type: object
            properties:
              status:
                $ref: '#/components/schemas/TripStatus'
              at:
                type: string
                format: date-time
              note:
                type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        completed_at:
          type: string
          format: date-time
          nullable: true

    TripListResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/TripDetail'
        pagination:
          $ref: '#/components/schemas/Pagination'

    TripTracking:
      type: object
      properties:
        trip_id:
          type: string
        status:
          $ref: '#/components/schemas/TripStatus'
        driver_location:
          $ref: '#/components/schemas/Location'
        estimated_arrival_time:
          type: string
          format: date-time
        distance_to_pickup_km:
          type: number
        last_updated:
          type: string
          format: date-time

    # ---------- Rating ----------
    RatingRequest:
      type: object
      required: [rating]
      properties:
        rating:
          type: integer
          minimum: 1
          maximum: 5
        comment:
          type: string
          maxLength: 1000

    Rating:
      type: object
      properties:
        rating_id:
          type: string
        trip_id:
          type: string
        rating:
          type: integer
        comment:
          type: string
        created_at:
          type: string
          format: date-time

    # ---------- Payment ----------
    FareBreakdown:
      type: object
      properties:
        base_fare:
          type: number
        distance_fare:
          type: number
        time_fare:
          type: number
        surge_multiplier:
          type: number
          example: 1.0
        discount:
          type: number
          default: 0
        total:
          type: number
        currency:
          type: string
          example: VND

    CreatePaymentRequest:
      type: object
      required: [method, provider]
      properties:
        method:
          type: string
          enum: [electronic]
        provider:
          type: string
          enum: [momo, zalopay, vnpay, stripe]
          description: Nhà cung cấp thanh toán bên ngoài

    PaymentIntent:
      type: object
      properties:
        payment_id:
          type: string
        trip_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        provider:
          type: string
        provider_payment_url:
          type: string
          description: URL để redirect khách hàng thanh toán
        provider_transaction_id:
          type: string
        status:
          type: string
          enum: [pending, requires_action, succeeded, failed]
        expires_at:
          type: string
          format: date-time

    Payment:
      type: object
      properties:
        payment_id:
          type: string
        trip_id:
          type: string
        amount:
          type: number
        currency:
          type: string
        method:
          type: string
          enum: [cash, electronic]
        provider:
          type: string
          nullable: true
        status:
          type: string
          enum: [pending, succeeded, failed, refunded]
        provider_transaction_id:
          type: string
          nullable: true
        created_at:
          type: string
          format: date-time
        paid_at:
          type: string
          format: date-time
          nullable: true

    # ---------- Notification ----------
    SendNotificationRequest:
      type: object
      required: [user_id, template]
      properties:
        user_id:
          type: string
        template:
          type: string
          enum:
            - trip_created
            - driver_assigned
            - driver_arrived
            - trip_completed
            - payment_result
            - new_trip_offer
            - trip_cancelled
            - no_driver_found
        channels:
          type: array
          items:
            type: string
            enum: [push, sms, email, in_app]
          default: [push, in_app]
        data:
          type: object
          additionalProperties: true
          description: Dữ liệu động cho template

    # ---------- Reports ----------
    SummaryReport:
      type: object
      properties:
        period:
          type: object
          properties:
            from:
              type: string
              format: date
            to:
              type: string
              format: date
        total_trips:
          type: integer
        completed_trips:
          type: integer
        cancelled_trips:
          type: integer
        no_driver_trips:
          type: integer
        completion_rate:
          type: number
          format: float
        cancellation_rate:
          type: number
          format: float
        total_revenue:
          type: number
        average_fare:
          type: number
        average_rating:
          type: number
        active_drivers:
          type: integer
        active_customers:
          type: integer

security:
  - BearerAuth: []
